<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="site/css/styles.css" />
  </head>
  <body>
    <div>
      <h1>{{heading}}</h1>
      <img src="site/images/javascript.jpg" alt="javascript-course" />
    </div>
  </body>

</html>